<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.ui.proofTactics">
      <dropdown
            id="fr.systerel.smt.provers.ui.dropdown"
            name="%dropdown.name"
            priority="fr.systerel.smt.provers.ui.dropdown"
            toolbar="org.eventb.ui.sequentToolbar">
      </dropdown>
      <tactic
            dropdown="fr.systerel.smt.provers.ui.dropdown"
            icon="icons/SMT.GIF"
            id="fr.systerel.smt.provers.ui.tactic"
            interrupt="true"
            name="%tactic.name"
            priority="fr.systerel.smt.provers.ui.tactic"
            skipPostTactic="false"
            tacticProvider="fr.systerel.smt.provers.internal.ui.SMTPP"
            target="global"
            tooltip="%tactic.tooltip">
      </tactic>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="br.ufrn.smt.solver.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="br.ufrn.smt.solver.preferences.SMTPreferencePage"
            id="fr.systerel.smt.provers.ui.page1"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eventb.core.pomTactics">
      <tactic
            id="fr.systerel.smt.provers.ui.SmtProver">
      </tactic>
   </extension>
</plugin>
