<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="configurations" name="%point.configurations" schema="schema/configurations.exsd"/>
   <extension-point id="solvers" name="%point.solvers" schema="schema/solvers.exsd"/>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.smt.core.internal.provers.ExternalSMT"
            id="externalSMT"
            name="%externalSMT.name">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.seqprover.tacticParameterizers">
      <parameterizer
            class="org.eventb.smt.core.internal.provers.AutoTactics$SMTParameterizer"
            id="SMTParam"
            name="%SMTParam.name">
         <tacticParameter
               default="true"
               description="%restrictedDesc"
               label="restricted"
               type="Boolean">
         </tacticParameter>
         <tacticParameter
               default="1000"
               description="%timeoutDesc"
               label="timeOutDelay"
               type="Long">
         </tacticParameter>
         <tacticParameter
               default=""
               description="%configNameDesc"
               label="configName"
               type="String">
         </tacticParameter>
      </parameterizer>
   </extension>
</plugin>
