<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="configurations" name="%point.configurations" schema="schema/configurations.exsd"/>
   <extension-point id="solvers" name="%point.solvers" schema="schema/solvers.exsd"/>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.smt.core.internal.provers.ExternalSMT"
            id="externalSMT"
            name="%externalSMT.name">
      </reasoner>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eventb.smt.core.internal.prefs.SimplePreferences$DefaultInitializer">
      </initializer>
   </extension>
</plugin>
