<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="bundles" name="%point.bundles" schema="schema/bundles.exsd"/>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.smt.core.internal.provers.ExternalSMT"
            id="externalSMT"
            name="%externalSMT.name">
      </reasoner>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eventb.smt.core.internal.prefs.SimplePreferences$DefaultInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eventb.core.seqprover.tacticParameterizers">
      <parameterizer
            class="org.eventb.smt.core.internal.tactics.SMTParameterizer"
            id="SMTParam"
            name="%SMTParam.name">
         <tacticParameter
               default=""
               description="%configNameDesc"
               label="configName"
               type="String">
         </tacticParameter>
         <tacticParameter
               default="true"
               description="%restrictedDesc"
               label="restricted"
               type="Boolean">
         </tacticParameter>
         <tacticParameter
               default="1000"
               description="%timeoutDesc"
               label="timeOutDelay"
               type="Long">
         </tacticParameter>
      </parameterizer>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <dynTacticProvider
            class="org.eventb.smt.core.internal.tactics.SMTDynTacticProvider"
            id="smtDynTacticProvider">
      </dynTacticProvider>
      <autoTactic
            class="org.eventb.smt.core.internal.tactics.SMTAutoTactic"
            description="%SMTAuto.description"
            id="autoTactic"
            name="%SMTAuto.name">
      </autoTactic>
   </extension>
   <extension
         point="org.eventb.core.tacticProfiles">
      <tacticProfile
            class="org.eventb.smt.core.internal.tactics.DefaultAutoWithSMT$Contribution"
            name="Default Auto Tactic with SMT">
      </tacticProfile>
   </extension>
</plugin>
