<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.smt.core.solvers">
      <solver
            id="bundled_verit"
            name="Bundled veriT"
            kind="verit"
            localpath="$os$/verit">
      </solver>
   </extension>
   <extension
         point="org.eventb.smt.core.configurations">
      <configuration
            id="verit_smt2"
            name="veriT SMT2"
            solverid="org.eventb.smt.verit.bundled_verit"
            args="-i smtlib2 --disable-print-success --disable-banner --proof=- --proof-version=1 --proof-prune --disable-e --max-time=3"
            smt-lib="V2.0"
            time-out="3000">
      </configuration>
   </extension>
</plugin>
