<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.smt.core.bundles">
      <solver
            name="veriT (bundled)"
            kind="verit"
            localpath="$os$/verit">
      </solver>
      <configuration
            args="--disable-print-success --disable-banner --proof=- --proof-version=1 --proof-prune --disable-e"
            name="veriT SMT2"
            smt-lib="V2.0"
            solverName="veriT (bundled)"
            translator="PP">
      </configuration>
   </extension>
</plugin>
