<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.smt.provers.internal.core.ExternalSMTThroughPP"
            id="externalSMT"
            name="%externalSMT.name">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.pomTactics">
      <tactic
            id="org.eventb.smt.provers.core.SMTPP">
      </tactic>
   </extension>
   <extension
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            class="org.eventb.smt.provers.internal.core.AutoTactics$SMTPP"
            description="%SmtPP.description"
            id="SMTPP"
            name="%SmtPP.name">
      </autoTactic>
   </extension>

</plugin>
