<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ExternalSmtTac"
         name="ExternalSmtTac"
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="fr.systerel.smt.provers.internal.core.ExternalSmt"
            id="externalSMT"
            name="External SMT Reasoner">
      </reasoner>
   </extension>
   <extension
         id="ExternalSMT"
         name="ExternalSMT"
         point="org.eventb.core.seqprover.autoTactics">
      <autoTactic
            class="fr.systerel.smt.provers.internal.core.AutoTactics$SMT"
            description="The automatic smt prover tactic"
            id="SmtProver"
            name="Auto SMT Prover">
      </autoTactic>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="br.ufrn.smt.solver.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="br.ufrn.smt.solver.preferences.SMTPreferencePage"
            id="br.ufrn.smt.solver.preferences.SMTPreferencePage2"
            name="SMT-Solver Plugin">
      </page>
   </extension>
   <extension
         point="org.eventb.core.pomTactics">
      <tactic
            id="fr.systerel.smt.provers.core.SmtProver">
      </tactic>
   </extension>

</plugin>
