<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.smt.provers.internal.core.ExternalSMTThroughPP"
            id="externalSMT"
            name="%externalSMT.name">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.pomTactics">
      <tactic
            id="fr.systerel.smt.provers.core.SmtProver">
      </tactic>
   </extension>

</plugin>
