<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.core.seqprover.reasoners">
      <reasoner
            class="org.eventb.smt.internal.provers.internal.core.ExternalSMTThroughPP"
            id="externalSMTPP"
            name="%externalSMTPP.name">
      </reasoner>
      <reasoner
            class="org.eventb.smt.internal.provers.internal.core.ExternalSMTThroughVeriT"
            id="externalSMTVeriT"
            name="%externalSMTVeriT.name">
      </reasoner>
   </extension>
   <extension
         point="org.eventb.core.seqprover.tacticParameterizers">
      <parameterizer
            class="org.eventb.smt.internal.provers.internal.core.AutoTactics$SMTPPParameterizer"
            id="SMTPPParam"
            name="%SMTPPParam.name">
         <tacticParameter
               default="true"
               description="%restrictedDesc"
               label="restricted"
               type="Boolean">
         </tacticParameter>
         <tacticParameter
               default="3000"
               description="%timeoutDesc"
               label="timeout"
               type="Long">
         </tacticParameter>
         <tacticParameter
         	   default=""
         	   description="%configIdDesc"
               label="configId"
               type="String">
         </tacticParameter>
      </parameterizer>
      <parameterizer
            class="org.eventb.smt.internal.provers.internal.core.AutoTactics$SMTVeriTParameterizer"
            id="SMTVeriTParam"
            name="%SMTVeriTParam.name">
         <tacticParameter
               default="true"
               description="%restrictedDesc"
               label="restricted"
               type="Boolean">
         </tacticParameter>
         <tacticParameter
               default="3000"
               description="%timeoutDesc"
               label="timeout"
               type="Long">
         </tacticParameter>
         <tacticParameter
         	   default=""
               description="%configIdDesc"
               label="configId"
               type="String">
         </tacticParameter>
      </parameterizer>
   </extension>

</plugin>
