<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.ui.proofTactics">
      <dropdown
            id="org.eventb.smt.provers.ui.dropdown"
            name="%dropdown.name"
            priority="org.eventb.smt.provers.ui.dropdown"
            toolbar="org.eventb.ui.sequentToolbar">
            tooltip="%dropdown.name">
      </dropdown>
      <tactic
            dropdown="org.eventb.smt.provers.ui.dropdown"
            icon="icons/SMT.GIF"
            id="org.eventb.smt.provers.ui.pptactic"
            interrupt="true"
            name="%PPtactic.name"
            priority="0"
            skipPostTactic="false"
            tacticProvider="org.eventb.smt.ui.internal.provers.SMTPP"
            target="global"
            tooltip="%PPtactic.tooltip">
      </tactic>
      <tactic
            dropdown="org.eventb.smt.provers.ui.dropdown"
            icon="icons/SMT.GIF"
            id="org.eventb.smt.provers.ui.verittactic"
            interrupt="true"
            name="%VeriTtactic.name"
            priority="1"
            skipPostTactic="false"
            tacticProvider="org.eventb.smt.ui.internal.provers.SMTVeriT"
            target="global"
            tooltip="%VeriTtactic.tooltip">
      </tactic>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eventb.smt.ui.internal.preferences.SMTPreferencePage"
            id="org.eventb.smt.ui.preferences.smt"
            name="%preferencePage.smtcategory.name">
      </page>
      <page
            category="org.eventb.smt.ui.preferences.smt"
            class="org.eventb.smt.ui.internal.preferences.SolverConfigsPreferencePage"
            id="org.eventb.smt.ui.preferences.configurations"
            name="%preferencePage.configspage.name">
      </page>
      <page
            category="org.eventb.smt.ui.preferences.smt"
            class="org.eventb.smt.ui.internal.preferences.SMTSolversPreferencePage"
            id="org.eventb.smt.ui.preferences.solvers"
            name="%preferencePage.solverspage.name">
      </page>
      <page
            category="org.eventb.smt.ui.preferences.smt"
            class="org.eventb.smt.ui.internal.preferences.SMTTranslationPreferencePage"
            id="org.eventb.smt.ui.preferences.translation"
            name="%preferencePage.translationpage.name">
      </page>
   </extension>
</plugin>
