<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eventb.smt.ui.internal.preferences.SMTPreferencePage"
            id="org.eventb.smt.ui.preferences.smt"
            name="%preferencePage.smtcategory.name">
      </page>
      <page
            category="org.eventb.smt.ui.preferences.smt"
            class="org.eventb.smt.ui.internal.preferences.SolverConfigsPreferencePage"
            id="org.eventb.smt.ui.preferences.configurations"
            name="%preferencePage.configspage.name">
      </page>
      <page
            category="org.eventb.smt.ui.preferences.smt"
            class="org.eventb.smt.ui.internal.preferences.SMTSolversPreferencePage"
            id="org.eventb.smt.ui.preferences.solvers"
            name="%preferencePage.solverspage.name">
      </page>
      <page
            category="org.eventb.smt.ui.preferences.smt"
            class="org.eventb.smt.ui.internal.preferences.SMTTranslationPreferencePage"
            id="org.eventb.smt.ui.preferences.translation"
            name="%preferencePage.translationpage.name">
      </page>
   </extension>
   <extension
         point="org.eventb.ui.proofTactics">
      <tactic
            icon="icons/SMT.GIF"
            id="org.eventb.smt.provers.ui.smttactic"
            interrupt="true"
            name="%SMTtactic.name"
            priority="0"
            skipPostTactic="false"
            tacticProvider="org.eventb.smt.ui.internal.provers.SMT"
            target="global"
            toolbar="org.eventb.ui.sequentToolbar"
            tooltip="%SMTtactic.tooltip">
      </tactic>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eventb.ui.provingBar">
            <command
                  commandId="org.eventb.smt.ui.smtUpdateCommand"
                  icon="icons/SMTupdate.GIF"
                  id="smtupdate"
                  label="%SMTupdatecmd.label"
                  style="push"
                  tooltip="%SMTupdatecmd.tooltip">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%SMTupdatecmd.description"
            id="org.eventb.smt.ui.smtUpdateCommand"
            name="%SMTupdatecmd.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eventb.smt.ui.internal.provers.SMTHandler"
            commandId="org.eventb.smt.ui.smtUpdateCommand">
      </handler>
   </extension>
   
   
</plugin>
