<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eventb.smt.ui.internal.preferences.SMTPreferencePage"
            id="org.eventb.smt.ui.preferences.smt"
            name="%preferencePage.smtcategory.name">
      </page>
      <page
            category="org.eventb.smt.ui.preferences.smt"
            class="org.eventb.smt.ui.internal.preferences.SolverConfigsPreferencePage"
            id="org.eventb.smt.ui.preferences.configurations"
            name="%preferencePage.configspage.name">
      </page>
   </extension>
   <extension
         point="org.eventb.ui.proofTactics">
      <tactic
            icon="icons/SMT.GIF"
            id="org.eventb.smt.provers.ui.smttactic"
            interrupt="true"
            name="%SMTtactic.name"
            priority="0"
            skipPostTactic="false"
            tacticProvider="org.eventb.smt.ui.internal.provers.SMT"
            target="global"
            toolbar="org.eventb.ui.sequentToolbar"
            tooltip="%SMTtactic.tooltip">
      </tactic>
   </extension>
      <extension
         point="org.eventb.core.seqprover.tacticParameterizers">
      <parameterizer
            class="org.eventb.smt.ui.internal.provers.AutoTactics$SMTParameterizer"
            id="SMTParam"
            name="%SMTParam.name">
         <tacticParameter
               default="true"
               description="%restrictedDesc"
               label="restricted"
               type="Boolean">
         </tacticParameter>
         <tacticParameter
               default="1000"
               description="%timeoutDesc"
               label="timeOutDelay"
               type="Long">
         </tacticParameter>
         <tacticParameter
               default=""
               description="%configNameDesc"
               label="configName"
               type="String">
         </tacticParameter>
      </parameterizer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eventb.smt.ui.internal.PreferenceInitializer">
      </initializer>
   </extension>


</plugin>
