<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.smt.core.solvers">
      <solver
            id="bundled_cvc3"
            name="Bundled CVC3"
            kind="cvc3"
            localpath="$os$/cvc3">
      </solver>
   </extension>
   <extension
         point="org.eventb.smt.core.configurations">
      <configuration
            args="-lang smt2 -timeout 1"
            id="cvc3_pp_smt2"
            name="CVC3 SMT2"
            smt-lib="V2.0"
            solverid="org.eventb.smt.cvc3.bundled_cvc3"
            translator="PP">
      </configuration>
   </extension>
</plugin>
