<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.smt.core.bundles">
      <solver
            name="CVC3 (bundled)"
            kind="cvc3"
            localpath="$os$/cvc3">
      </solver>
      <configuration
            args=""
            name="CVC3"
            smt-lib="V2.0"
            solverName="CVC3 (bundled)"
            translator="PP">
      </configuration>
   </extension>
</plugin>
