<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.smt.core.bundles">
      <solver
            name="CVC4 (bundled)"
            kind="cvc4"
            localpath="$os$/cvc4">
      </solver>
      <!--
Notes:
  dump-unsat-cores      produces an empty set
  dump-unsat-cores-full works but prints the formulas instead of the labels, so the extraction
                        returns an empty hyp set
=> Unsat Core triggered by the get-unsat-core command inside the SMT file (SMTPPCall.getPrintingOptions)
      -->
      <configuration
            args="--finite-model-find --fmf-inst-engine"
            name="CVC4"
            solverName="CVC4 (bundled)">
      </configuration>
   </extension>
</plugin>
